// .contact-nav {
//   display: flex;
//   margin-left: auto;
// }

// .contact-nav__link {
//   display: flex;
//   align-items: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   text-decoration: none;
//   color: var(--primary-tex-color--);

//   padding-top: 32px;
//   padding-bottom: 32px;

//   fill: currentColor;

//   &:hover,
//   &:focus {
//     color: var(--accent-tex-color--);
//     fill: var(--accent-tex-color--);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
// .contact-nav__icon {
//   margin-right: 10px;
// }
// .contact-nav__item {
//   margin-left: 30px;
// }
