.section {
  padding-top: 60px;
  padding-bottom: 60px;
  border: solid 1px red;
}

.trait__title,
.team__title,
.clients__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-tex-color--);
}

// Особенности
.feature__item {
  margin-bottom: 30px;
}
.feature__item:last-child {
  margin-bottom: 0px;
}
// TABLET
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-child(n + 2) {
    margin-bottom: 0;
  }
}

.feature__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__box {
    width: 354px;
    height: 120px;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  color: var(--title-tex-color--);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-tex-color--);
}

// DEXTOP
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    flex-wrap: no wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 30px) / 4);
    margin-right: 30px;
  }
}
