.trait {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .trait {
    display: flex;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .trait__title,
  .team__title,
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.study {
  display: flex;
  flex-basis: calc(100% / 3);
}
.study__item:not(:first-child) {
  margin-left: 30px;
}
.study__item {
  position: relative;
}
.study__thumb {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.study__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--White-color--);
}
