.trait {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.study {
  display: flex;
  flex-basis: calc(100% / 3);
}
.study__item:not(:first-child) {
  margin-left: 30px;
}
.study__item {
  position: relative;
}
.study__thumb {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.study__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--White-color--);
}
