.header {
  border-bottom: 1px solid #ececec;
}
.page-header {
  display: flex;

  background-color: var(--White-color--);
}

.page-header__logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: block;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 88px;
}
// DEXTOP
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
  }
}
.page-header__web {
  color: var(--accent-tex-color--);
}
.page-header__studio {
  color: var(--title-tex-color--);
}

// /* Навигация сайта */
// TABLET

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .site-nav {
    display: flex;
  }
}
// DEXTOP
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
  }
}

.site-nav li:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--title-tex-color--);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__studio,
.site-nav__portfolio {
  position: relative;
}
.current {
  color: var(--accent-tex-color--);
  &::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }
}

// // Контакты

@media screen and (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-nav {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
}

// DEXTOP
@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item {
    margin-left: 50px;
    margin-bottom: 0px;
  }
}

.contact-nav__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--primary-tex-color--);

  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-tex-color--);
    fill: var(--accent-tex-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contact-nav__icon {
  margin-right: 8px;
}

.contact-nav__item {
  margin-bottom: 10px;
}
.contact-nav__item:last-child {
  margin-bottom: 0;
}

// Мобильное меню

.menu-open-btn__icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  fill: var(--primary-tex-color--);
}

.mob-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-direction: column;

  background-color: var(--White-color--);
  width: 100vw;
  height: auto;
  padding-bottom: 48px;
  padding-left: 40px;

  top: 0;
  left: 0;
}
.mob-menu__link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #212121;

  text-decoration: none;
  color: var(--title-tex-color--);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav > li:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact__link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-tex-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mail-contact__link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  margin-bottom: 64px;
  &:hover,
  &:focus {
    color: var(--accent-tex-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mob-cocial__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;

  letter-spacing: 0.02em;

  color: #2196f3;
}
.menu-close-btn {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;

  background-color: var(--White-color--);

  border: none;
  &:hover,
  &:focus {
    color: var(--accent-tex-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.menu-close-btn__icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  fill: var(--primary-tex-color--);
}
.mob-cocial {
  display: flex;
}

.mob-menu-bottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  .menu-open-btn {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;

    background-color: var(--White-color--);

    border: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .mob-menu.container {
    display: none;
  }
}
.mob-menu.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-hidden {
  transform: translateY(-100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-cocial__item:not(:last-child)::after {
  content: '';
  margin-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__link {
  &:hover,
  &:focus {
    color: var(--accent-tex-color--);
    fill: var(--accent-tex-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current {
  color: var(--accent-tex-color--);
  &::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }
}
