// .header {
//   border-bottom: 1px solid #ececec;
// }
// .page-header {
//   display: flex;
//   align-items: center;
//   background-color: var(--White-color--);
// }

// .page-header__logo {
//   font-family: 'Raleway', sans-serif;
//   text-decoration: none;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;

//   display: block;
//   margin-top: 24px;
//   margin-bottom: 25px;
//   margin-right: 93px;
// }
// .page-header__web {
//   color: var(--accent-tex-color--);
// }
// .page-header__studio {
//   color: var(--title-tex-color--);
// }

// /* Навигация сайта */

// .site-nav {
//   display: flex;
// }
// .site-nav li:not(:first-child) {
//   margin-left: 50px;
// }

// .site-nav__link {
//   display: block;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   text-decoration: none;
//   color: var(--title-tex-color--);
//   padding-top: 32px;
//   padding-bottom: 32px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .site-nav__studio,
// .site-nav__portfolio {
//   position: relative;
// }
// .current {
//   color: var(--accent-tex-color--);
//   &::after {
//     content: '';
//     display: block;

//     position: absolute;
//     left: 0;
//     bottom: 0;

//     width: 100%;
//     height: 4px;

//     background: #2196f3;
//     border-radius: 2px;
//   }
// }

// // conact-nav
// .contact-nav {
//   display: flex;
//   margin-left: auto;
// }

// .contact-nav__link {
//   display: flex;
//   align-items: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   text-decoration: none;
//   color: var(--primary-tex-color--);

//   padding-top: 32px;
//   padding-bottom: 32px;

//   fill: currentColor;

//   &:hover,
//   &:focus {
//     color: var(--accent-tex-color--);
//     fill: var(--accent-tex-color--);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
// .contact-nav__icon {
//   margin-right: 10px;
// }
// .contact-nav__item {
//   margin-left: 30px;
// }
