// .hero {
//   color: var(--White-color--);
//   background-color: #2f303a;
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/hero/hero.jpg);

//   padding-top: 200px;
//   padding-bottom: 200px;
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
// }
// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   color: var(--White-color--);

//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   width: 696px;
//   margin: auto;
// }

// .hero__button {
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;

//   margin-top: 30px;
// }
// .button {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.8;

//   padding: 10px 32px;
//   border-radius: 4px;
//   width: 200px;
//   height: 50px;

//   color: var(--White-color--);
//   background-color: var(--accent-tex-color--);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

//   cursor: pointer;
//   border: inherit;
//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
