// .team {
//   background-color: #f5f4fa;
// }
// .team__list {
//   display: flex;
//   text-align: center;
// }
// .team__card {
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .team__card:not(:first-child) {
//   margin-left: 30px;
// }
// .partner {
//   background-color: var(--White-color--);
//   padding-top: 30px;
//   padding-bottom: 30px;
// }
// .partner__name {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.18;
//   text-align: center;
//   letter-spacing: 0.03em;

//   padding-bottom: 10px;

//   color: var(--title-tex-color--);
// }
// .partner__work {
//   font-size: 16px;
//   line-height: 1.18;
//   letter-spacing: 0.03em;

//   color: var(--primary-tex-color--);
// }

// .network {
//   display: flex;
//   justify-content: center;
//   margin-top: 16px;
//   margin-right: 32px;

//   margin-left: 32px;
// }

// .network > li:not(:first-child) {
//   margin-left: 10px;
// }
// .network__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   border-radius: 50%;

//   width: 44px;
//   height: 44px;
//   color: #afb1b8;
//   &:hover,
//   &:focus {
//     color: var(--White-color--);
//     background-color: var(--accent-tex-color--);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
// .network__image {
//   fill: currentColor;
// }
